@media (max-width: 960px) {
	.header__menu-btn{
		display: block;
	}
	.header__menu >ul{
		display: none;
		position: absolute;
		top: 77px;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 2;
		background-color: #fff;
	}
	.header__menu li{
		line-height: 35px;
		display: block;
		text-align: center;
	}
	.header__menu li+li{
	margin-left: 0;
	}
	.header__menu a{
	display: block; 

	}
	.slick-slide{
		width: 100%;
	}
	.projects__items{
		flex-wrap: wrap;
	}
	.works__header::after{
	width: 705px;
}

}
@media (max-width: 920px){
	.width{
		margin-left: 15px;
		margin-bottom: 20px;
		/*max-width: 100%*/
	}
	.project__text{
		padding: 10px 0;
	}
	.projects__items, .works__items{
		justify-content: space-around;
	}
	.works__items{
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.works__item{
		margin-bottom: 20px;
	}
	.footer__items{
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
@media (max-width: 820px){
		.works__header::after{
		width: 605px;
}
		.footer__item{
			margin-bottom: 20px;
		}
		.footer__item-title{
			margin-bottom: 10px;
		}
}
@media (max-width: 720px){
		.works__header::after{
		width: 505px;

}
}
@media (max-width: 620px){
		.works__header::after{
		width: 405px;
}
		.footer-networks{
			max-width: 100%;
		}
		.footer__inner{
		
		padding: 25px 15px 15px;
		
}
}
@media (max-width: 580px){
		.works__header::after{
		width: 305px;
	}
	.footer__items{
		display: block;
		justify-content: center;
	}

}
@media (max-width: 520px){
		.works__header::after{
		width: 305px;
	}
	.works__item{
		margin-right: 20px;
	}

}

@media (max-width: 435px) {
	.works__item{
		margin-right: 0;
	}
	.works__header::after{
	max-width: 205px;
}
	.slider__item-title {
    
    left: 15px;
    
  	padding: 15px 25px 18px 15px;
   
}
	
}
@media (min-width: 960px){
	.header__menu ul{
		display: block!important;
	}
}